<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Enter Patient Information</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Name of the patient</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name"  class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Age of the patient</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input age="age" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
    <label class="col-md-4 control-label">Gender of the patient</label>
      <div class="col-md-4 selectContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      <select name="gender" class="form-control selectpicker" >
        <option value=" " >Please select patient gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Total Bilirubin</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="tb" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Direct Bilirubin</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="db"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Alkphos Alkaline Phosphotase</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="aap"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Sgpt Alamine Aminotransferase</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="sgpt"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Sgot Aspartate Aminotransferase</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="sgot"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Total Protiens</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="tp"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">ALB Albumin</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="alb"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">A/G Ratio Albumin and Globulin Ratio</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="ratio"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Result</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="result"  class="form-control"  type="text">
      </div>
    </div>
</div>


<!-- Button -->

<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->